<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html [L]
</IfModule>

<IfModule mod_php.c>
    php_flag display_errors off
    php_flag log_errors on
    php_value error_log logs/php_errors.log
</IfModule>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(js|css|json|php)$">
    Order allow,deny
    Allow from all
</FilesMatch>

AddType application/json .json
